html{
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #171626;
  perspective: 1px;
  transform-style: preserve-3d;
}
.section1, .section2{
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.section1::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(imagens/4393824_3163.jpg) bottom center;
  background-size: contain;
  transform: translateZ(-1px) scale(2.2);
}
.section1::after{
  content: "";
  width: 100%;
  height: 100%;
  display: flex;
  top: 5%;
  position: absolute;
  background: url(imagens/complete-removebg.png) top center;
  background-color: #1716261e;
  z-index: -1;
  background-size: contain;
}
.section1 .text{
  top: 20%;
  transform: translateZ(-0.5px) scale(1.4, 1.6) translate(-31%,10%);
  letter-spacing: 100px;
}

.section2{
  background: url(imagens/rest-back.png);
  opacity: 0.99;
}

.text{
  top: 30%;
  left: 50%;
  position: absolute;
  font-family: 'Franklin Gothic Heavy';
  font-size: 12vw;
  color: #ffffff;
  text-shadow: 2px 2px 5px #1395ff,
  5px 5px 70px #1395ff;
  transform: scale(1,1.1) translate(-50%, 10%);
}
.header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.logo{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 100px;
}
.options{
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.options li{
  list-style: none;
  font-size: 20px;
  color: #ffffff;
}
.modo{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center ;
  align-items: center ;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}